[submodule "baselines/DF-GNN"]
	path = baselines/DF-GNN
	url = git@github.com:zli96/DF-GNN.git
[submodule "baselines/DTC-SpMM_ASPLOS24"]
	path = baselines/DTC-SpMM_ASPLOS24
	url = https://github.com/danielhse/DTC-SpMM_ASPLOS24.git
