.cursorignore
*.png
*.pdf
*.csv
*.ncu-rep
*DS_Store
**/__pycache__/
scripts/pushToHpc3.sh
scripts/pullFromHpc3.sh
src/build
**/dist
**/F3S.egg-info
test/
!scripts/baseline_comp/kernel_only_comp_results/*.csv
!scripts/baseline_comp/kernel_only_comp_results/*/*.png
!scripts/baseline_comp/SM_active_time_results/*.csv
!scripts/baseline_comp/SM_active_time_results/*/*.png